{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'style/style.css' %}"/>
    <title>TastyRecipesApp</title>
</head>

<body>
<div id="box">
    <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="{% url "index" %}">Tasty Recipes</a></h1>
        <nav>
            <!-- if the user has not created a profile -->

                <a href="{% url "create_profile" %}">Create Profile</a>

                <a href="{% url "catalogue" %}">Catalogue</a>
                <a href="{% url "create_recipe" %}">Create Recipe</a>
                <a href="{% url "detail_profile" %}">Profile</a>

        </nav>
    </header>

    {% block main_content %}
    {% endblock %}


    <!-- footer -->
    <footer>&copy;SoftUni Team 2024. All rights reserved.</footer>
</div>
</body>
</html>
